.hero {
  position: relative;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  padding: 250px 0;
  text-align: center;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 20px;
  overflow: hidden; /* Hide overflow */
}

.hero-title span {
  display: inline-block;
  transform: translateY(100%); /* Initial position below the container */
  transition: transform 1s ease; /* Animation duration and easing */
}

.hero-title:hover span {
  transform: translateY(0); /* Move the text to its original position */
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.hero-button {
  background-color: #4caf50; /* Green button color */
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #00bcd4,
    #009688
  ); /* Gradient background color */
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 0% 100%);
  z-index: -1;
}
