/* Footer.css */

.footer {
  color: var(--main-bg-color); /* Adjust color as needed */
  background-color: var(--main-color); /* Adjust color as needed */
  text-align: center;
  padding: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Optional: For a subtle divider */
}

.footer p {
  margin: 0;
}
