.common-header {
  text-align: center;
  font-size: 2rem;
  margin: 0px 40px;
  padding: 10px;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-family: var(--main-font-family); /* Use a custom font */
  font-weight: bold; /* Apply bold font weight */
}
